:root {
    --dark-primary-color: #FFA000;
    --light-primary-color: #FFECB3;
    --primary-color: #FFC107;
    --text-icones: #212121;
    --accent-color: #FFEB3B;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider-color: #BDBDBD;
}

body {
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--light-primary-color) 41%, var(--dark-primary-color) 100%);
    font-family: Arial;
}

h1 {
    text-align: center;
}

#logo {
    width: 300px;
    height: auto;
}

.box {
    border: 2px solid var(--text-icones);
    border-radius: 4%;
    padding: 20px;
    margin: 15px;
    width: 300px;
    background-color: var(--accent-color);
}

.box-avatars {
    border: 2px solid var(--text-icons);
    border-radius: 5%;
    padding: 20px;
    margin: 15px;
    background-color: var(--light-primary-color);
}

.box-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.avatar {
    width: 100px;
    height: auto;
}

figure {
    margin: 15px;
}

figure>figcaption {
    text-align: center;
    color: var(--secondary-text);
}

.avatars {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.avatar {
    height: 100px;
    width: auto;
}

.arrow {
    height: 100px;
    width: auto;
}

p {
    display: none;
}

input,
select,
button {
    display: block;
    margin: 10px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

button {
    box-shadow: 0px 1px 0px 0px var(--light-primary-color);
    background: linear-gradient(to bottom, var(--light-primary-color) 5%, var(--primary-color) 100%);
    background-color: var(--light-primary-color);
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px var(--light-primary-color);
}

button:hover {
    background: linear-gradient(to bottom, var(--light-primary-color) 5%, var(--dark-primary-color) 100%);
    background-color: var(--dark-primary-color);
}

button:active,
button:link {
    position: relative;
    top: 1px;
}

input {
    font-family: inherit;
    border: 0;
    border-bottom: 2px solid;
    outline: 0;
    font-size: 1.3rem;
    background: transparent;
    transition: border-color 0.2s;
}

input:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-image: linear-gradient(to right, var(--dark-primary-color), var(--light-primary-color));
    border-image-slice: 1;
}

select {
    background-color: var(--light-primary-color);
    padding: 5px;
}

textarea {
    background-color: var(--light-primary-color);
    padding: 10px;
    border-radius: 4%;
}

h1>a:link,
h1>a:visited,
h1>a:active {
    text-decoration: none;
    color: var(--primary-text);
    outline: 0;
}

h1>a:hover {
    text-decoration: underline;
    color: var(--primary-text);
    outline: 0;
}

.box-invitation {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 900px;
    background-color: var(--accent-color);
    border: 2px solid;
    justify-content: space-around;
}

#link-invitation,
#link-invitation-hover {
    margin-top: 5px;
    text-align: center;
    flex-grow: 8;
}

#link-invitation {
    display: none;
}

.box-invitation:hover #link-invitation-hover {
    display: none;
    cursor: pointer;
}

.box-invitation:hover #link-invitation {
    display: block;
    cursor: pointer;
}

#button-copy {
    height: 100%;
    margin: 0;
}

#news:target,
#apropos:target,
#rules:target {
    display: block;
}

#avatars-container {
    display: flex;
    justify-content: center;
}

#arrow1 {
    transform: rotate(180deg);
}


/*for desktop*/

@media only screen and (min-width: 900px) {
    section {
        flex-direction: row;
    }
    .box {
        width: 500px;
    }
    #logo {
        width: 500px;
        height: auto;
    }
}


/*for tablets*/

@media only screen and (min-width: 700px) {
    section {
        flex-direction: row;
    }
    .box {
        width: 400px;
    }
    #logo {
        width: 400px;
        height: auto;
    }
}