body {
    background: rgb(249, 255, 129);
    background: linear-gradient(90deg, rgba(249, 255, 129, 1) 0%, rgba(240, 255, 89, 1) 41%, rgba(255, 243, 52, 1) 100%);
    font-family: Arial;
}

#logo {
    width: 300px;
    height: auto;
}

.box {
    border: 2px solid black;
    border-radius: 4%;
    padding: 20px;
    margin: 15px;
    width: 300px;
    background-color: #fff07d;
}

.box-avatars {
    border: 2px solid black;
    border-radius: 60%;
    padding: 20px;
    margin: 15px;
    background-color: #ffec64;
}

.box-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.avatar {
    height: 100px;
    width: auto;
}

.arrow {
    height: 100px;
    width: auto;
}

p {
    display: none;
}

input,
select,
button {
    display: block;
    margin: 10px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

button {
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to bottom, #ffec64 5%, #ffe923 100%);
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #e9d202;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

button:hover {
    background: linear-gradient(to bottom, #ffe923 5%, #ffec64 100%);
    background-color: #ffe923;
}

button:active,
button:link {
    position: relative;
    top: 1px;
}

input {
    font-family: inherit;
    border: 0;
    border-bottom: 2px solid;
    outline: 0;
    font-size: 1.3rem;
    background: transparent;
    transition: border-color 0.2s;
}

input:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-image: linear-gradient(to right, orange, rgb(224, 224, 16));
    border-image-slice: 1;
}

textarea {
    background-color: #ffec64;
    padding: 10px;
}

h1>a:link,
h1>a:visited,
h1>a:active {
    text-decoration: none;
    color: #000;
    outline: 0;
}

h1>a:hover {
    text-decoration: underline;
    color: #000;
    outline: 0;
}

#news:target,
#apropos:target,
#rules:target {
    display: block;
}

#avatars-container {
    display: flex;
    justify-content: center;
}

#arrow1 {
    transform: rotate(180deg);
}


/*for desktop*/

@media only screen and (min-width: 900px) {
    section {
        flex-direction: row;
    }
    .box {
        width: 500px;
    }
    #logo {
        width: 500px;
        height: auto;
    }
}


/*for tablets*/

@media only screen and (min-width: 700px) {
    section {
        flex-direction: row;
    }
    .box {
        width: 400px;
    }
    #logo {
        width: 400px;
        height: auto;
    }
}